@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
.form-error{
    font-family: "Permanent Marker";
    color: red;
}

.topnav{
    margin: 0;
	padding: 0;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 2px 2px -2px rgba(0 0 0 /51%);
}

.nav-right{
    float: right;
    text-align: center;
    margin: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
.pp{
    max-width: 1.5rem;
    border-radius: 50%;
}

.nav-logo:hover{
    cursor: context-menu;
}

.profile-pp{
    width: 200px;
    border-radius: 50%;
}
#upload-profile-picture{
    display: none;
}